:root {
  --color-primary: #5e0085; /* Color morado oscuro */
  --color-primary-light: #7a00a2; /* Color morado claro */
  --color-primary-dark: #6c0091; /* Color morado más oscuro */
  --color-background: #f3f3f3;
  --color-white: white;
  --color-grey: #ccc;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Muli', sans-serif;
  background-color: var(--color-background);
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

header h1, header p {
  margin: 0;
}

#home-link {
  text-decoration: none;
  color: var(--color-white);
}

#home-link:hover {
  text-decoration: underline;
}

#user-menu {
  position: absolute;
  top: 20px;
  left: 20px;
}

#user-button {
  background: var(--color-primary-light);
  border: none;
  color: var(--color-white);
  font-size: 1.5em;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#user-button:hover {
  background: var(--color-primary-dark);
}

#auth-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: var(--color-primary);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#auth-menu li a {
  color: var(--color-white);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

#auth-menu li a:hover {
  background-color: var(--color-primary-light);
}

#tabs {
  display: none;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#tabs li {
  list-style: none;
  margin-bottom: 10px;
}

#tabs a {
  color: var(--color-white);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--color-primary-light);
  display: block;
}

#tabs a:hover, #tabs a.active {
  background-color: var(--color-primary-dark);
}

.menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-primary-light);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.menu-icon div {
  width: 100%;
  height: 4px;
  background-color: var(--color-white);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-icon:hover div {
  background-color: var(--color-primary-dark);
}

#container {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.content {
  display: none;
}

.content.show {
  display: block;
}

.content img {
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Espacio entre formularios */
}

form label {
  font-weight: bold;
}

form input, form textarea, form button {
  padding: 10px;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

form button {
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: var(--color-primary-dark);
}

#home h3 {
  margin-top: 20px;
  font-size: 1.5em;
  color: var(--color-primary);
}

#home ul {
  list-style-type: none;
  padding: 0;
}

#home ul li {
  background-color: #f3f3f3;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#home ul li strong {
  color: #333;
}

footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer .contact-info {
  margin-bottom: 10px;
}

footer .social-media a {
  color: var(--color-white);
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-primary-light);
  display: inline-block;
}

footer .social-media a:hover {
  background-color: var(--color-primary-dark);
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.category-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: var(--color-primary-dark);
}

#contact {
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

#contact-form label {
  font-weight: bold;
}

#reviews-list {
  margin-top: 20px;
}

#reviews-list .review {
  background-color: #f3f3f3;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#review-form-container {
  margin-top: 20px;
}

.review strong {
  color: var(--color-primary); /* Color del nombre del usuario */
  display: block;
  margin-bottom: 5px;
}

.review button {
  background-color: #ff4d4d;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review button:hover {
  background-color: #ff1a1a;
}
#add-review-button {
  background-color: var(--color-primary); 
  color: var(--color-white);
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top: 20px; 
  font-size: 1em; 
}

#add-review-button:hover {
  background-color: var(--color-primary-dark); 
}
/* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%; 
  max-width: 700px; 
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#users-list {
  margin-top: 20px;
}

#users-list table {
  width: 100%; 
  border-collapse: collapse; 
  margin-bottom: 20px; 
}

#users-list th, #users-list td {
  border: 1px solid #ccc; 
  padding: 10px; 
  text-align: left; 
}

#users-list th {
  background-color: #5e2a8c; 
  color: white; 
}

#users-list tr:nth-child(even) {
  background-color: #f9f9f9; 
}

#users-list tr:hover {
  background-color: #eaeaea; 
}

.role-select {
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  cursor: pointer; 
}

.save-role-button {
  background-color: #7f00b2; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.save-role-button:hover {
  background-color: #ae41e0; 
}